*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: rgb(29, 29, 29);
}

.notes{
  display: flex;
  padding-block: 1rem;
  padding-inline: 3rem;
  gap: 1rem;
}

.note{
  background-color: rgb(60, 61, 61);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: aliceblue;
}

